html {
    font-family: "Segoe UI", "Raleway", Helvetica, Arial, sans-serif
  }
  
  .header {
    font-family: "Segoe UI", "Raleway", Helvetica, Arial, sans-serif
  }
  
  .content {
      max-width: 850px;
  }